<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.decouikit.atom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="com.decouikit.atom.components.splash.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.decouikit.atom.menu.activity.NavigationActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|navigation" />
        <activity
            android:name="com.decouikit.atom.components.base.WizardActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.base.SubMenuActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--List Screen-->
        <activity
            android:name="com.decouikit.atom.components.lists.expandable.activity.ExpandableListActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.lists.drag_and_drop.activity.DragAndDropActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.lists.swipe.icon.activity.SwipeIconActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.lists.swipe.button.activity.SwipeButtonActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.cards.styled.activity.StyledCardActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.cards.styled_2.activity.StyledTwoCardActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.cards.full_image.activity.CardFullImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.cards.full_image_with_avatar.activity.CardFullImageAvatarActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.cards.shoping_cart.activity.ShoppingCartActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.cards.ecommerce_category.activity.CardCategoryActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.cards.ecommerce_image_card.activity.CardImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.cards.social_color_card.activity.CardColorActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.cards.ecommerce_thumb.activity.ThumbActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.cards.social_thumb.activity.SocialThumbActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--  Gallery          -->
        <!--  Full Image Gallery          -->
        <activity
            android:name="com.decouikit.atom.components.image_gallery.activity.FullImageActivity"
            android:theme="@style/AppTheme" />

        <!--  Image Gallery list image from category          -->
        <activity
            android:name="com.decouikit.atom.components.image_gallery.activity.ImageGalleryCategoryActivity"
            android:theme="@style/AppTheme" />

        <!--  Image Gallery list category          -->
        <activity
            android:name="com.decouikit.atom.components.image_gallery.activity.ImageGalleryListActivity"
            android:theme="@style/AppTheme" />
        <!--Wizard-->
        <activity
            android:name="com.decouikit.atom.components.wizard.walkthrough.activity.WizardWalkThroughActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.wizard.e_commerce.activity.WizardECommerceActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.wizard.social.activity.WizardSocialActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.wizard.profile.activity.WizardProfileActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--Navigation-->
        <activity
            android:name="com.decouikit.atom.components.navigation.activity.NavBottomIconActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.navigation.activity.NavTopIconActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.navigation.activity.NavBottomTextActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.navigation.activity.NavTopTextActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--Search-->
        <activity
            android:name="com.decouikit.atom.components.search.simple.activity.SearchSimpleActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.search.top_bar.activity.SearchTopBarActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--Parallax-->
        <activity
            android:name="com.decouikit.atom.components.parallax.product.activity.FriendsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.parallax.shopping.activity.ShoppingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.parallax.profile.activity.ProfileActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--Login-->
        <activity
            android:name="com.decouikit.atom.components.login.activity.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.register.activity.RegisterActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.forgot_pass.activity.ForgotPassActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.old_new_pass.activity.NewPassActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--Checkbox-->
        <activity
            android:name="com.decouikit.atom.components.checkbox.simple_left.activity.CheckboxSimpleLeftActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.checkbox.simple_right.activity.CheckboxSimpleRightActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.checkbox.avatar_left.activity.CheckboxAvatarLeftActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.checkbox.avatar_right.activity.CheckboxAvatarRightActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.checkbox.icon_left.activity.CheckboxIconLeftActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.checkbox.icon_right.activity.CheckboxIconRightActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--Radio Buttons-->
        <activity
            android:name="com.decouikit.atom.components.radio_button.simple_left.activity.RadioButtonSimpleLeftActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.radio_button.simple_right.activity.RadioButtonSimpleRightActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.radio_button.avatar_left.activity.RadioButtonAvatarLeftActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.radio_button.avatar_right.activity.RadioButtonAvatarRightActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.radio_button.icon_left.activity.RadioButtonIconLeftActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.radio_button.icon_right.activity.RadioButtonIconRightActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--Toggle-->
        <activity
            android:name="com.decouikit.atom.components.toggle.simple.activity.ToggleSimpleActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.toggle.description.activity.ToggleDescActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.toggle.group.activity.ToggleGroupActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--Small components-->
        <activity
            android:name="com.decouikit.atom.components.small_components.activity.SmallComponentsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--Rtl + Color Change-->
        <activity
            android:name="com.decouikit.atom.components.rtl_color_change.activity.RtlColorChangeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--Splash-->
        <activity
            android:name="com.decouikit.atom.components.splash.activity.SplashSimpleActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--Range-->
        <activity
            android:name="com.decouikit.atom.components.range.activity.RangeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--Select-->
        <activity
            android:name="com.decouikit.atom.components.select.single.activity.SingleSelectActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.select.multi.activity.MultiSelectActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <!--Timeline-->
        <activity
            android:name="com.decouikit.atom.components.timeline.left.activity.TimelineLeftActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.timeline.right.activity.TimelineRightActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.decouikit.atom.components.timeline.center.activity.TimelineCenterActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/AppTheme"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>